#{extends 'main.html' /}
#{set title:"Blogs on WitPress" /}

<div class="row">
  <div class="span10">
   #{include 'nav/open.html' /}
    <li> <a href="@{Blog.index()}">Blog </a></li>   
    <li class="active"> <a href="@{PublicBlogDirectory.index()}"> Public Blogs</a> </li> 
    <li><a href="@{About.index()}">About</a></li>     
    <li><a href="@{Contact.index()}">Contact</a></li>         
   #{include 'nav/close.html' /}
  </div>
</div>

<div class="row">
 <div class="span1"></div><!-- margin -->
  <div class="span8">    
    #{list items:usersWithBlogs, as:'user'}
      <h4>
        <a href="@{PublicBlog.show(user.id)}"> ${user.firstName} ${user.lastName} Blog </a> 
      </h4> 
      <hr>
    #{/list}     
  </div>
</div><!-- !row -->  