<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">WitPress</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
